.container-buttons {
    display: flex;
    justify-content: space-between; /* Space out the items */
    align-items: center; /* Align items vertically in the center */
    padding: 10px; /* Optional: Add padding */
    width: 460px; /* Set the width of the container */
    text-align: center;
    margin-top: 50px;
  }
  
  .btns {
    display: flex;
    gap: 10px; /* Space between the buttons */
  }
  
  .material-symbols-outlined {
    font-size: 24px; /* Adjust icon size */
    cursor: pointer; /* Pointer cursor on hover */
  }