.sections-container {
  display: flex;
  flex-wrap: wrap; 
  background-color: rgb(148, 148, 203);
  justify-content: space-between; 
}

.left-section,
.right-section {
  flex: 1; 
  min-width: 300px; 
  padding: 50px; 
}

@media (max-width: 1000px) {
  .sections-container {
      flex-direction: column;
  }
  .left-section,
  .right-section {
      padding: 20px;
  }
}