.container-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 70px; 
    align-items: center; 
    padding: 5px; 
    width: 450px;
    text-align: center;
    margin-top: 30px;
  }
  .song-info .name{
    font-weight: bold;
  }
  